.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  position: relative;

  & .logoContainer .logo {
    width: 5rem;
    height: 100%;
  }

  & .nav-link-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto 0;

    & .navigationMenu {
      padding-right: 2rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
